<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Welcome back to your bank!</h3>

  <p>You can get to other screens using the menu to the left</p>

  <p>Your current balance is £1200</p>

  <img *ngIf="image" [src]="image" height="150px" />
  <p style="font-style: italic" *ngIf="!image">
    You don't have a photo - why not add one?
    <button style="display: inline" ion-button secondary (click)="goToCamera()">Take photo</button>
  </p>

</ion-content>
